// Site-banner-simple
// ==========================================================

$site-title-size-small: 1.5em !default;
$site-title-size-large: 2em !default;

$banner-hover-background: $gray-9 !default;

// styles
@import 'style-site-banner-simple';
