// site-banner-simple
// ====================

.site-id {
  position: relative;

  &:hover {
    background-color: $banner-hover-background;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.site-logo {
  float: left;
  margin: 0 1em 1em 0;
  max-width: 30%;
}

.site-title {
  margin-top: 0;
  font-size: $site-title-size-small;
  line-height: 3;

  @include media-breakpoint-up(medium) {
    font-size: $site-title-size-large;
    line-height: 1.5;
  }

  a {
    text-decoration: none;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.site-baseline {
  clear: left;

  @include media-breakpoint-up(medium) {
    clear: none;
  }
}
