// skip-content
// les liens d'évitement
// --------------------------------------------------

.skip-content {
  margin: 0;
  padding: 0;

  a.skip-content-link {
    text-decoration: none;
    position: absolute;
    left: -7000px;
    z-index: 1000;
    padding: 0 .25em;
    color: $skip-content-color;
    background: $skip-content-bg;

    &:focus {
      position: relative;
      top:0;
      left:0;
    }
  }
}
