// menu horizontal simple
// replié sur mobile et tablette
// -----------------------------

$toggle-menu-bg-color:          $primary-color !default;
$toggle-menu-text-color:        #fff !default;

$toggle-menu-bg-color-hover:    #000 !default;
$toggle-menu-text-color-hover:  #fff !default;

$toggle-menu-bg-color-open:     $gray-2 !default;
$toggle-menu-text-color-open:   #fff !default;

$menu-simple-bg-color:          $primary-color !default;
$menu-simple-text-color:        #fff !default;

$menu-simple-bg-color-hover:    #000 !default;
$menu-simple-text-color-hover:  #fff !default;

$menu-simple-bg-color-open:     $gray-9 !default;
$menu-simple-text-color-open:   #000 !default;


@import "style-menu-simple";
