// Alerts

@mixin alert-variant($background, $border, $color) {

  background-color: $background;
  border-color: $border;
  color: $color;

  hr {
    border-top-color: darken($border, 5%);
  }

  a {
    color: darken($color, 10%);
  }
}
