// select-a11y
// ==========================================================

.select-a11y {
  position: relative;

  .btn-select-a11y {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: $btn-select-a11y-bg;

    .icon-select {
      position: absolute;
      background-color: red;
      top:50%;
      right: 0.5em;
      line-height: 0;

      &::before {
        content :$btn-select-a11y-symbol;
      }
    }

    &[aria-expanded="true"]{
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      .icon-select {
        transform: rotate(180deg);
      }
    }
  }

  .tag-item {
    border: 1px solid $tag-item-border;
    padding: .2em .1em .2em 0.5em;
  }

  .tag-item-supp {
    background-color: transparent;
    border: 1px solid transparent;

    .icon-delete:before {
      content: $tag-item-supp-symbol;
      color: $tag-item-supp-symbol-color;
      line-height: 1;
    }

    &:focus{
      outline: 1px solid $tag-item-supp-border;
      color: $tag-item-supp-border;
    }

    &:hover {
      color: $tag-item-supp-border;
      border-color: $tag-item-supp-border;
    }
  }

  .tag-hidden {
    display: none;
  }

  &.is-open .a11y-container {
    display: block;
  }

  .a11y-container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0.5em;
    background: $a11y-suggestions-bg;
    z-index: 10;
    border: 1px solid $btn-select-a11y-bg;
  }

  // fix safari pour cacher l'autocompletion native
  // cf http://stackoverflow.com/questions/38663578/how-to-hide-autofill-safari-icon-in-input-field
  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  .a11y-suggestions {
    max-height: 10em;
    overflow-y: auto;
    border: 1px solid $a11y-suggestion-border;
    margin-top: 0.5em;
    background-color: #fff;
  }

  .a11y-suggestion {
    padding: 0 (8em/16) 0 (26em/16);
    color: $a11y-suggestion-color;
    cursor: pointer;
    text-align: left;

    &:focus,
    &:hover {
      color: $a11y-suggestion-color-hover;
      background-color: $a11y-suggestion-bg-hover;
    }
    &:focus {
      outline: 1px dotted $a11y-suggestion-color-hover !important;
      outline-offset: -1px;
    }

    &[aria-selected="true"]{
      background-color: $a11y-suggestion-bg-selected;
      color: $a11y-suggestion-color-hover;
      position: relative;

      &:before{
        content: '✓';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: (8em/16);
      }
    }
  }

  .a11y-no-suggestion {
    padding: 0 0.5em;
    color: $a11y-suggestion-color;
    text-align: left;
    margin: 0;
  }

  .list-selected {
    padding: 0.5em 0;
    margin: 0;

    li {
      margin: 0 0.3em 0.3em 0;

      &:before {
        content:"";
      }

      span {
        display: inline-block;
      }
    }
  }

}
