// Mon module
// ----------------------------------

// variables propres au module
$btn-select-a11y-bg:          $gray-9 !default;
$btn-select-a11y-symbol:      "\25BC" !default; // ▼

$tag-item-border:             $gray-7 !default;
$tag-item-supp-symbol:        "\2715" !default; // X
$tag-item-supp-symbol-color:  red !default;
$tag-item-supp-border:        red !default;

$a11y-suggestions-bg:         $gray-10 !default;
$a11y-suggestion-color:       $gray-3 !default;
$a11y-suggestion-color-hover: $gray-1 !default;
$a11y-suggestion-bg-hover:    $gray-9 !default;
$a11y-suggestion-bg-selected: $gray-7 !default;
$a11y-suggestion-border:      $gray-3 !default;

// import des styles
@import "style-select-a11y";
