// Classes utilitaires de positionnement
// ===================================================

.clearfix {
  @include clearfix();
}

.center-block {
  @include center-block();
}

.container {
  @include center-block();
  @include clearfix();

  padding-left:  $container-spacer;
  padding-right: $container-spacer;
}
