// Browsehappy
// --------------------------------------------------
// cf http://browsehappy.com/

// styles
.browsehappy {
  padding-top: .5em;
  padding-bottom:.5em;
  background-color: $state-warning-bg;
  border-bottom: 1px solid $state-warning-border;

  p {
    margin-bottom: 0.5em;
  }

  a  {
    color: $link-color;
    text-decoration: underline;
  }
}
