// Mixin figure
// =======================================================================

@mixin figure($img-margin-bottom: ($spacer-y / 2), $img-line-height: 1.25, $caption-text-color: $gray) {

  // Ensures the caption’s text aligns with the image.
  display: inline-block;

  img {
    margin-bottom: $img-margin-bottom;
    line-height: $img-line-height;
  }

  figcaption {
    font-size: .875em;
    color: $caption-text-color;
  }

}

