// settings avant

$table-cell-padding:          .75rem .4rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-color:                 $body-color !default;
$table-bg:                    null !default;

$table-accent-bg:             rgba(#000, .05) !default;
$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba(#000, .075) !default;

$table-border-width:          $border-width !default;
$table-border-color:          $gray-9 !default;

$table-head-bg:               $gray-9 !default;
$table-head-color:            $body-color !default;

$table-caption-color:         $body-color !default;

// mixin
@import "mixin-tables";

// styles
@import "style-tables";
