@mixin blockquote($font-size: ($font-size-base * 1.25), $font-family: $font-family-base, $font-style: normal) {

  padding: ($spacer / 2) $spacer;
  margin: 0 0 $spacer-y;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  border-left: 5px solid $blockquote-border-color;

  p {
    margin-top: 0;
  }

  footer {
    display: block;
    font-size: .75em;
    line-height: $line-height;
    color: $blockquote-small-color;

    a:link,
    a:visited {
      color: $blockquote-small-color;
    }

    p {
      margin-bottom: 0;
    }

    @content;
  }

  @content;
}
