//
// Collapse
// --------------------------------------------------

.js-expandmore-panel[hidden] {
  display: none;
}

.expandmore__button {
  vertical-align: baseline;
  background: transparent;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: $expandmore__button-padding;
  width: 100%;
  text-align: inherit;

  &:focus {
    outline: thin dotted;
    border-color: $border-color-collapse-focus;
  }
}

// // Exemple de règles pour visualiser la fonctionalité
// // plier /déplier

.js-expandmore-title {
  position: relative;
}

.js-expandmore-panel {
  padding: $expandmore__to_expand-padding;
}

.expandmore__symbol {
  font-size: $expand-symbol-size;
  line-height: 1;
  position: absolute;
  #{$expand-symbol-position-v} : $expand-symbol-position-v-value;
  #{$expand-symbol-position-h} : $expand-symbol-position-h-value;
}

.expandmore__symbol:before {
  content : $expand-symbol-closed;
}

.expandmore__button[aria-expanded=true] .expandmore__symbol:before ,
.expandmore__button[data-expanded=true] .expandmore__symbol:before {
  content : $expand-symbol-open;
}

// bouton "tout déplier"
.no-js .js-expandmore-all {
  display: none;
}


@media print {
  .js-expandmore-all {
    display: none;
  }
  .js-expandmore-panel[hidden] {
    display: block;
  }
}
