.has-error {
  background-color: $error-msg-bg;
  border-color: $state-danger-border;
  padding: 0.5em 1em;
  .error-desc {
    display: block;
    color: $state-danger-text;
  }
}
// Form validation
//
// Provide feedback to users when form field values are valid or invalid. Works
// primarily for client-side validation via scoped `:invalid` and `:valid`
// pseudo-classes but also includes `.is-invalid` and `.is-valid` classes for
// server side validation.
@include form-validation-state("valid", $form-feedback-valid-color);
@include form-validation-state("invalid", $form-feedback-invalid-color);
