//
// Modal
// --------------------------------------------------

// variables

$zindex-modal:                1050 !default;
$zindex-modal-background:     1040 !default;

//** Padding applied to the modal body
$modal-inner-padding:         1em !default;

//** Padding applied to the modal title
$modal-title-padding:         1rem !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-sm !default;

//** Background color of modal content area
$modal-content-bg:            #fff !default;
//** Modal content border color
$modal-content-border-color:  rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color: #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    56em !default;
$modal-md:                    37em !default;
$modal-sm:                    19em !default;


$modal-close-font-size:       $font-size-base * 1.5 !default;
$modal-close-font-weight:     bold !default;
$modal-close-color:           #000 !default;
$modal-close-padding:         0.1em 0.3em !default;

// styles
@import "style-modal";
