// Breadcrumb
// ------------------------------------------------------------------
.breadcrumb {
  margin: .5em 0;
  font-size: .875em;
  line-height: 1.25;
}

.breadcrumb-list {
  @include list-unstyled;

  margin-bottom: 0;
  margin-left: 0;

  .breadcrumb-item {
    display: inline-block;
    padding-right: .5em;

    &:not(:first-of-type) {
      span[aria-hidden="true"]::after {
        padding-right: .5em;
        font-size: 1.25em;
        content: $breadcrumb-symbol;
      }
    }

    a {
      color: $body-color;
    }

    // item actif
    strong {
      color: $primary-color;
      font-weight: bold;
    }
  }
}
