// Buttons
// ==========================================================

// variables buttons
$input-btn-border-width:         $border-width !default; // For form controls and buttons
$btn-border-width:               $input-btn-border-width !default;

$btn-padding-x:                  1rem !default;
$btn-padding-y:                  .25rem !default;
$input-btn-line-height:          $line-height !default;
$btn-line-height:                $input-btn-line-height !default;
$btn-font-weight:                normal !default;

$btn-default-color:              $gray-3 !default;
$btn-default-bg:                 $gray-9 !default;
$btn-default-border:             darken($btn-default-bg, 10%) !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $primary-color !default;
$btn-primary-border:             darken($btn-primary-bg, 10%) !default;
$btn-primary-outline:            $primary-color !default;

$btn-secondary-color:            $gray-3 !default;
$btn-secondary-bg:               #fff !default;
$btn-secondary-border:           $gray-7 !default;
$btn-secondary-outline:          darken($btn-secondary-color, 30%) !default;


// buttons-color
$btn-info-color:                 #fff !default;
$btn-info-bg:                    $info-color !default;
$btn-info-border:                $btn-info-bg !default;
$btn-info-outline:               darken($info-color, 40%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $success-color !default;
$btn-success-border:             $btn-success-bg !default;
$btn-success-outline:            darken($success-color, 48%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $warning-color !default;
$btn-warning-border:             $btn-warning-bg !default;
$btn-warning-outline:            darken($warning-color, 48%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $danger-color !default;
$btn-danger-border:              $btn-danger-bg !default;
$btn-danger-outline:             darken($danger-color, 38%) !default;

// buttons-link
$btn-link-disabled-color:        $gray-8 !default;

// buttons-size
$btn-padding-x-sm:               .75rem !default;
$btn-padding-y-sm:               .25rem !default;
$btn-line-height-sm:             $line-height-sm !default;
$btn-padding-x-lg:               1.25rem !default;
$btn-padding-y-lg:               .75rem !default;
$btn-line-height-lg:             $line-height-lg !default;

// buttons-block
$btn-block-spacing-y:         .5rem !default;

// permet la personnalisation des border-radius pour les boutons
// indépendamment des settings globaux pour les border-radius
$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;

$input-btn-focus-width:       .2rem !default;
$input-btn-focus-color:       rgba($primary-color, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba(#000, .125) !default;

$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-base !default;
$yiq-text-light:            #fff !default;


// mixins
@import "mixin-buttons";

// styles
@import "style-buttons";

// styles additionnels à décommenter ici OU dans le fichier scss général :
// @import "style-buttons-size";
// @import "style-buttons-link";
// @import "style-buttons-block";
// @import "style-buttons-color";
// @import "style-buttons-group";
