// Compléments variantes de couleurs

.btn-info {
  @include button-variant($btn-info-bg, $btn-info-border);
}
.btn-success {
  @include button-variant($btn-success-bg, $btn-success-border);
}
.btn-warning {
  @include button-variant($btn-warning-bg, $btn-warning-border);
}
.btn-danger {
  @include button-variant($btn-danger-bg, $btn-danger-border);
}

.btn-outline-primary {
  @include button-outline-variant($btn-primary-outline);
}
.btn-outline-secondary {
  @include button-outline-variant($btn-secondary-outline);
}
.btn-outline-info {
  @include button-outline-variant($btn-info-outline);
}
.btn-outline-success {
  @include button-outline-variant($btn-success-outline);
}
.btn-outline-warning {
  @include button-outline-variant($btn-warning-outline);
}
.btn-outline-danger {
  @include button-outline-variant($btn-danger-outline);
}
