// Pagination
// --------------------------------------------------


.pagination {
  display: block;
  padding-left: 0;
  a {
    color: $body-color;
  }
  ul li {
    list-style-type: none;
  }
}

.page-item {
  display: inline-block;
}

.page-link,
.page-etc {
  display: inline-block;
  padding: 0.3em 0.65em;
  margin-bottom: 0.2em;
  text-decoration: none;
  color: $page-link-color;
  background: $page-link-bg;
  border: 1px solid $page-link-border;
}

.page-link:focus,
.page-link:hover {
  color: $page-link-color-focus;
  background-color: $page-link-bg-focus;
  text-decoration: none;
}

.active {
  .page-link {
    color: $page-link-active-color;
    background-color: $page-link-active-bg;
    font-weight: bold;
  }
}

.page-item-prev,
.page-item-next {
  .page-item-icon {
    position: relative;
    top: 0.1em;

    &::before {
      line-height: 0;
      font-size: 1.9em;
    }
  }
}

.page-item-prev {
  .page-item-icon {

    &::before {
      content: $page-item-prev-icon;
    }
  }
}

.page-item-next {
  .page-item-icon {

    &::before {
      content: $page-item-next-icon;
    }
  }
}
